<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
    <!-- insertion-point-jss -->
    <title>React Shell</title>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #main {
        height: 100%;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>
